<div>
    <a href="http://localhost:3000/"><button>Home</button></a>
    <a href="http://localhost:3000/register"><button>Register</button></a>
    <a href="http://localhost:3000/login"><button>Login</button></a>
    <a href="http://localhost:3000/cars"><button>Cars</button></a>
    <a href="http://localhost:3000/logout"><button>Logout</button></a>
    <a href="http://localhost:3000/profiles"><button>Profile</button></a>
</div>