<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex;justify-content: center; align-content: center; align-items: center; flex-direction:column ;">
    <div><h1>Login</h1></div>

    <% if (error) { %>
     <div><p style="color: red;"><%= error %></p></div>
    <% } %>

    <div>
        <form action="http://localhost:3000/login" method="post">
            <label for="username">Username</label><br>
            <input type="text" name="username"><br><br>

            <label for="password">Password</label><br>
            <input type="password" name="password"><br><br>

            <button type="submit">Login</button>
        </form>
    </div>
    
</body>
</html>